
<div class="container ">
    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">
                @Html.ActionLink("Yujia's MovieStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-nav">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active">@Html.ActionLink("Customers", "Index", "Customers")</a>
                    <a class="nav-item nav-link">@Html.ActionLink("Movies", "Index", "Movies")</a>
                </div>
            </div>

    </nav>
</div>